<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Password Locker - Accounts</title>
</head>
<body>
<div class="container main-container">
    <div th:replace="fragments/navbar :: nav"></div>
    <h1 class="h1-page-header">Accounts</h1>
    <div class="row">
        <div class="col-md-4 col-sm-6 account-card" th:each="account : ${accounts}">
            <h3 th:text="${account.username}"></h3>
            <p th:text="'Type: ' + ${account.type}"></p>
            <p th:text="'Description: ' + ${account.description}"></p>
            <p th:text="'Last Update: ' + ${account.lastUpdate}"></p>
            <p th:text="'Last Updated By: ' + ${account.lastUpdatedBy}"></p>
            <a th:href="@{/accounts/(id=${account.id})}" th:text="Details" class="btn btn-primary" role="button"></a>
        </div>
    </div>
    <footer>

    </footer>
</div> <!-- End of main container -->

</body>
</html>