<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Password Locker - Accounts</title>
</head>
<body>
<div class="container main-container">
    <div th:replace="fragments/navbar :: nav"></div>
    <div class="account-detail">
        <h2 th:text="${account.username}"></h2>
        <a th:href="@{/accounts/edit(id=${account.id})}"
           th:text="Edit"
           class="btn btn-warning"
           role="button">
        </a>
        <a th:href="@{/accounts/delete(id=${account.id})}"
           th:text="Delete"
           class="btn btn-danger"
           role="button">
        </a>
        <hr>
        <!--
        <h4>Password</h4>
        <p th:text="${account.password}" id="hiddenPassword"></p>
        <hr>
        <h4>Type</h4>
        <p th:text="${account.type}"></p>
        <hr>
        <h4>Description</h4>
        <p th:text="${account.description}"></p>
        <hr>
        <h4>Last Update</h4>
        <p th:text="${account.lastUpdate}"></p>
        <hr>
        <h4>Last Updated By</h4>
        <p th:text="${account.lastUpdatedBy}"></p>
        <hr>
        <h4>Created By</h4>
        <p th:text="${account.createdBy}"></p>
        <hr>
        <h4>Created On</h4>
        <p th:text="${account.createdOn}"></p>
        </div>
        -->
        <div class="row">
            <div class="col-md-3 col-sm-3 account-detail-block">
                <h4>Password</h4>
                <p th:text="${account.password}" id="hiddenPassword"></p>
            </div>
            <div class="col-md-3 col-sm-3 account-detail-block">
                <h4>Type</h4>
                <p th:text="${account.type}"></p>
            </div>
            <div class="col-md-3 col-sm-3 account-detail-block">
                <h4>Description</h4>
                <p th:text="${account.description}"></p>
            </div>
            <div class="col-md-3 col-sm-3 account-detail-block">
                <h4>Created By</h4>
                <p th:text="${account.createdBy}"></p>
            </div>
            <div class="col-md-3 col-sm-3 account-detail-block">
                <h4>Created On</h4>
                <p th:text="${account.createdOn}"></p>
            </div>
            <div class="col-md-3 col-sm-3 account-detail-block">
                <h4>Last Update</h4>
                <p th:text="${account.lastUpdate}"></p>
            </div>
            <div class="col-md-3 col-sm-3 account-detail-block">
                <h4>Last Updated By</h4>
                <p th:text="${account.lastUpdatedBy}"></p>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</div> <!-- End of main container -->

</body>
</html>