<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Password Locker - Accounts</title>
</head>
<body>
<div class="container main-container">
    <div th:replace="fragments/navbar :: nav"></div>
<!--    <h1 class="h1-page-header">Accounts</h1>-->
    <div class="row">
        <h2 th:text="${account.username}"></h2>
        <hr>
        <h4>Type</h4>
        <p th:text="${account.type}"></p>
        <hr>
        <h4>Description</h4>
        <p th:text="${account.description}"></p>
        <hr>
        <h4>Last Update</h4>
        <p th:text="${account.lastUpdate}"></p>
        <hr>
        <h4>Last Updated By</h4>
        <p th:text="${account.lastUpdatedBy}"></p>
        <hr>
        <h4>Created By</h4>
        <p th:text="${account.createdBy"}></p>
        <hr>
        <h4>Created On</h4>
        <p th:text="${account.createdOn}"></p>
<!--        <a th:href="@{/accounts/id=(${account.id})}" th:text="Details" class="btn btn-primary" role="button"></a>-->
    </div>
    <footer>

    </footer>
</div> <!-- End of main container -->

</body>
</html>