body {
    background-color: #343a40;
    color: #c9c9c9;

}
 header h1 {
    text-align: center;
}
header {
    width: 100%;
}

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    padding-left: 0;
    padding-right: 0;
}

.h1-page-header {
    text-align: center;
    padding-bottom: 20px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.horizontal-button-list {
    list-style: none;
}

.dropdown-background-edit {
    background-color: #d6be7a;
}

.dropdown-background-delete {
    background-color: #ba836e;
}

.dropdown-menu {
    background-color: #343a40!important;
}

.table {
    color: #c9c9c9;
}
