<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-3.5.1.slim.min.js" type="application/javascript;charset=utf-8"></script>
    <script src="/js/popper.min.js" type="application/javascript;charset=utf-8"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript;charset=utf-8"></script>
    <title>Title</title>
</head>
<body>
<div class="container main-container">
    <div th:replace="fragments/navbar :: nav"></div>
<!--    <h3 th:text="${#authentication.getPrincipal().getUser().getUsername()}"></h3>-->
<!--    <h3 sec:authentication="principal.username"></h3>-->
    <footer>

    </footer>
</div> <!-- End of main container -->

</body>
</html>