<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-3.5.1.slim.min.js" type="application/javascript"></script>
    <script src="/js/popper.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <title>Password Locker - Logs</title>
</head>
<body>
<div class="container main-container">
    <div th:replace="fragments/navbar :: nav"></div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
               id="search-year-tab"
               data-toggle="tab"
               href="#search-year"
               role="tab"
               aria-controls="search-year"
               aria-selected="true">Search by year</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="search-year-month-tab"
               data-toggle="tab"
               href="#search-year-month"
               role="tab"
               aria-controls="search-year-month"
               aria-selected="false">Search by year/month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="search-year-month-day-tab"
               data-toggle="tab"
               href="#search-year-month-day"
               role="tab"
               aria-controls="search-year-month-day"
               aria-selected="false">Search by year/month/day</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- Search year tab-->
        <div class="tab-pane fade show active" id="search-year" role="tabpanel" aria-labelledby="search-year-tab">
            <form th:action="@{/logs/search-year}" action="#" method="post" style="margin-bottom: 20px; margin-top: 20px;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input th:value="${year}" type="number" name="year" class="form-control" id="year" placeholder="2020">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 18px;">Search</button>
            </form>
        </div>
        <!-- End search year tab -->

        <!-- Search year month tab -->
        <div class="tab-pane fade" id="search-year-month" role="tabpanel" aria-labelledby="search-year-month-tab">
            <form th:action="@{/logs/search-year-month}" action="#" method="post" style="margin-bottom: 20px; margin-top: 20px;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input th:value="${year}" type="number" name="year" class="form-control" id="input-year-year-month" placeholder="2020">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="month">Month</label>
                            <input th:value="${month}" type="number" name="month" class="form-control" id="input-month-year-month" min="1" max="12" placeholder="1 - 12">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 18px;">Search</button>
            </form>
        </div>
        <!-- End search year month tab -->

        <!-- Search year month day tab -->
        <div class="tab-pane fade" id="search-year-month-day" role="tabpanel" aria-labelledby="search-year-month-day-tab">
            <form th:action="@{/logs/search-year-month-day}" action="#" method="post" style="margin-bottom: 20px; margin-top: 20px;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input th:value="${year}" type="number" name="year" class="form-control" id="input-year" placeholder="2020">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="month">Month</label>
                            <input th:value="${month}" type="number" name="month" class="form-control" id="month" min="1" max="12" placeholder="1 - 12">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="day">Day</label>
                            <input th:value="${day}" type="number" name="day" class="form-control" id="day" min="1" max="31" placeholder="1 - 31">
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 18px;">Search</button>
            </form>
        </div>
        <!-- End search year month day tab -->
    </div>

    <table class="table">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Message</th>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td th:text="${log.logId}"></td>
            <td th:text="${log.timestamp}"></td>
            <td th:text="${log.content}"></td>
        </tr>
        </tbody>
    </table>
    <footer>

    </footer>
</div> <!-- End of main container -->

</body>
</html>